.cardContainer {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:2%;
    gap: 20px;
}

#cardsFavorites{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:9%;
    gap: 20px;

}
