h4 {
  color: #011f4b; 
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  position: relative;
  text-transform: uppercase; 
}

.section-heading::before,
.section-heading::after {
  content: "";
  position: absolute;
  height: 8px; 
  width: 20%; 
  background-color: 	#005b96; 
  transition: width 0.4s ease; 
}

.section-heading::before {
  left: 0;
  bottom: -5px; 
  
}

.section-heading::after {
  right: 0;
  bottom: -5px; 
}


.section-heading:hover::before,
.section-heading:hover::after {
  width: 40%; 
}

