#searchForm .form-control {
    border: 2px solid #005b96; 
    border-radius: 4px; 
    color: #000000; 
  }

  #searchForm{
    margin-top: 8.5%;
    margin-left: 25%;
    margin-right: 23%;
  }
  
  #searchForm .btn {
    background-color: #005b96; 
    color: white; 
    border: 2px solid #005b96; 
    border-radius: 7px; 
  }
  
  #searchForm .btn:hover {
    background-color: #3498db; 
    border: 2px solid #ffffff; 
  }

  .fixed-search {
    position: fixed;
    top: 0;
    left: 0;   
    width: 50%;
    z-index: 999; 
  }
  