#searchForm .form-control {
    border: 2px solid #005b96; 
    border-radius: 4px; 
    color: #000000; 
  }

  #searchForm{
    margin-top: 9%;
    margin-left: 23%;
    margin-right: 23%;
  }
  
  #searchForm .btn {
    background-color: #005b96; 
    color: white; 
    border: 2px solid #005b96; 
    border-radius: 7px; 
  }
  
  #searchForm .btn:hover {
    background-color: #3498db; 
    border: 2px solid #ffffff; 
  }